<nav class="navbar navbar-expand-md bg fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <a class="navbar-brand" href="#">
        <i class="fa fa-taxi" aria-hidden="true" style="font-size: 30px; color: #E8F0F2;" aria-hidden="true"></i>
        <button class="btn" style="color: #E8F0F2; font-size: 20px; background-color: #003638; font-family:Comic Sans MS"><b>Pick & Drop</b></button>
        </a>
    </ul>
      <ul class = "nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" style="color: #F3F2C9;" routerLink="/complaint"><b>Create Complaint</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: #F3F2C9;" routerLink="/viewComplaint"><b>View Complaint</b></a>
      </li>
    </ul>
  </div>
</nav>
