.btn-primary { border-radius: 5px; padding: 5px; border-color: #03494c; background-color: #03494c !important;
}
  .ngx-pagination .current {
  padding: 0.1875rem 0.625rem;
  background: #096b6e !important;
  color: #fefefe;
  cursor: default;
}
